body {
    font-size: 15pt;
    background-color:#ffd842
;
}
 a {font-family:'Oswald', sans-serif;}
 h1 {font-size:30px;
    font-family: 'Oswald', sans-serif;
    text-align:center;
   margin-top:34px;
   text-shadow:1px 1px 2px chocolate
 }
 
