 body{
     border-style:solid;
     background-color: rgb(65, 75, 57);	 
  }
 img {
     margin:10px;
	}
  #hed {
     color:rgb(255, 255, 255);
     background-color:rgb(29, 19, 0);
     padding:5px;
     font-size: 24px;
     text-shadow: 1px 1px 18px rgb(5, 5, 5);
     border-radius: 4px;
     text-shadow: 1px 1px 1px red;
   }
 #hed:hover{
         font-size: 24px;
         border-color: brown;
         color: aliceblue;
 }

   .flex-container {
     display:flex;
	 flex-wrap:nowrap;
	 background-color:dogerblue;
	 }
	.flex-container>div {
	 background-color:lightblue;
	 width:990px;
	 margin:10px;
	 line-height:300px;
	 }
#txt{
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 20px;
}

#txt:hover{
       background-color: black;
       color: aliceblue;
       border-radius: 8px;
       font-size: 20px;
}

#pera
{
    margin-top: 100px;
    width: 450px;
    box-shadow: 0px 0px 20px black;
    margin-left: 80px;
    margin-bottom: 10px;
    font-size: 17px;
    background-color: aliceblue;
    border-color: black;
    border: 1px solid;
    padding: 8px;
    padding-top: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#image{
    margin-left: 170px;
    width: 450px;
    box-shadow: 0px 0px 19px black;
    margin-top: 62px;
    
}

#btn
{
    background-color:brown;
    color: white;
    font-size: 30px;
    width: 190px;
    border-radius: 4px;
    margin-left: 200px;
    padding-left: 12px;
    margin-bottom: 107px;
}

#image:hover{
    width: 470px;
    box-shadow: 0px 0px 19px rgb(255, 253, 253);
    
}